.tagsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 30px;
}

.tagBox {
  background-color: #ebebeb;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}